@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#container {
    min-height: 130em;
    background-color: rgb(15 23 42);
}
.logos {
    filter: brightness(0) invert(1);
    opacity: 0.6;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.logos:hover {
    opacity: 1;
}
